<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632218770761-74mmevfem0v2i77chch4mj0p8ed6atug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632218770761-74mmevfem0v2i77chch4mj0p8ed6atug</string>
	<key>API_KEY</key>
	<string>AIzaSyBaXZXq4s9iK-kphHXnpKb6Uw1vJfh8X9o</string>
	<key>GCM_SENDER_ID</key>
	<string>632218770761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bytwiseFinalproject</string>
	<key>PROJECT_ID</key>
	<string>ifrahdev-ef13a</string>
	<key>STORAGE_BUCKET</key>
	<string>ifrahdev-ef13a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632218770761:ios:635026ebe87dc7aaf54e98</string>
</dict>
</plist>